* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

.containerNav{
    padding: 10px;
    height: 100px;
    background: #58bcf1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.containerNav a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.containerNav a i{
    margin-right: 10px;
}

.containerNav ul {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.containerNav ul li a{
    color: white;
    text-decoration: none;
}

.containerInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #58bcf1;
}

h2{
    margin: 50px 30px;
    font-size: 25px;
    color: #58bcf1;
}

.containerForm{
    height: auto;
    width: 60%;
    margin: auto;
    margin-bottom: 50px;
    justify-content: center;
    background: #58bcf1;
    box-shadow: 10px 5px 5px #e6e6e6;
    display: flex;
    border-radius: 30px;
}

.containerForm p{
    font-size: 18px;
    color: #fff;
    margin: 50px 0;
}

.containerForm p a{
    color: white;
}

.containerForm form {
    width: 100%;
    padding: 5px 30px;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.containerForm form label{
    margin-bottom: 10px;
}

.containerForm form input {
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
    color: #93D2F5;
    border-color: transparent;
}

.containerForm form input:last-child {
    transform: translateX(50%);
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0;
    font-size: 18px;
}

.containerForm form p {
    margin: 15px 0;
    font-size: 12px;
    font-style: italic;
    color: red;
}

.containerForm select {
    width: 50%;
    margin-bottom: 20px;
    color: #58bcf1;
    padding: 5px;
    border: none;
}

.containerBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.containerBlock a{
    text-decoration: none;
    color: white;
}

.containerBlock div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    border: solid #58bcf1;
    border-radius: 5px;
    background-color: #58bcf1;
}

.containerBlock div h3{
    padding: 30px 30px;
}

.containerBlock div:hover{
    border: solid #49b1e9;
    background-color: #49b1e9;
}


.containerInfo div{
    height: 50px;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerInfo div ul{
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: auto;
    border-bottom: 2px solid #58bcf1;
}

.containerInfo div ul li{
    font-size: 16px;
    width : 25%;
    text-align: center;
    color: #818181;
}

.containerInfo div ul li a{
    text-decoration: none;
    color: #58bcf1;
}

.containerInfo div ul li form input{
    border: none;
    color: #49b1e9;
    background: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.error{
    margin: 10px 20px;
    font-size: 12px;
    font-style: italic;
    color: red;
}

.link{
    margin : 30px 20px;
    color:#58BCF1;
}

.link a {
    color:#58BCF1;
}

.containerProfilPatient {
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    background: #58bcf1;
    box-shadow: 10px 5px 5px #e6e6e6;
    border-radius: 20px;
    color: white;
    margin-bottom: 40px;
}

.infoAppointment {
    width: 100%;
    font-size: 22px;
}

.infoAppointment p {
    margin: 30px 0;
}

.containerProfilPatient ul {
    width: 100%;
    font-size: 22px;
    list-style: none;
}

.containerProfilPatient ul li {
    margin: 40px 20px;
}

.display{
    display: block;
}

.hide{
    display: none;
}

.buttonEdit{
    text-align: end;
}

.buttonClose{
    text-align: end;
}

#edit{
    font-size: 35px;
    margin: 10px 20px;
}

#close{
    font-size: 35px;
    margin: 10px 20px;
}

.formUpdatePatient {
    width: 100%;
    padding: 10px 30px;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.formUpdatePatient label {
    width: 100%;
    text-align: start;
    margin-bottom: 5px;
}

.formUpdatePatient input {
    width: 100%;
    padding: 5px;
    color: #93D2F5;
    border-color: transparent;
    margin-bottom: 20px;
}

.formUpdatePatient input:last-child {
    transform: translateX(50%);
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    margin: 30px 0;
    font-size: 18px;
}

.containerProfilPatient .containerFormUpdate form p {
    margin: 15px 0;
    font-size: 12px;
    font-style: italic;
    color: red;
}

input:disabled{
    background: #fff;
}

.searchBar{
    display: flex;
    width: 80%;
    margin-left: 40px;
    margin-bottom: 30px;
}

.searchBar form{
    width: 80%;
}

.searchBar form input {
    width: 40%;
    border: none;
    border-radius: 10px;
    background: #e9e9e9;
    color: #49b1e9;
    padding: 10px 20px;
}
nav{
    margin-top: 40px;
    width: 100%;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content:center;
}

nav ul li {
    border-radius: 5px;
    border: solid 2px #49b1e9;
    margin-right: 10px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    padding: 40px;
    color: #49b1e9;
    font-size: 20px;
    text-decoration: none;
}

.disabled {
    opacity: 0.5;
}

.disabled a {
    pointer-events: none;
}  